h2 {
	color: 97, 116, 173;
}

p {
	color: rgb(83, 89, 150);
}

li {
	list-style: none;
	display: inline-block;
}

body {
	background-color: rgb(234, 235, 235);
	background-size: cover;
}

header {
	background-color: rgb(130, 145, 190);
}